/.KPIGeneratorRuntimeModule.java._trace
/.KPIGeneratorRuntimeModule.xtendbin
/.KPIGeneratorStandaloneSetup.java._trace
/.KPIGeneratorStandaloneSetup.xtendbin
/KPIGeneratorRuntimeModule.java
/KPIGeneratorStandaloneSetup.java
